# Ignore virtual environment folder
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs and temp files
*.log
*.tmp

preprocessing/agg_outputs
metadata/members_list
metadata/execution_logs_metadata_linking